@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
  margin: 0 !important;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.container-fluid,.col-md-4{
  padding: 0;
  
}
.header{
  height: 165px;
  background: #ffffff;
}
.top{
  height: 65px;
  background: #303537;
}
.Main{
  background: #ffffff;
  
}
.Main h1{
  text-align: center;
  font-weight: bold;
  font-size: 40px; 
  color: #e89719;
}
.banner{
  position: relative;
  height: 500px;
}
.banner .b-text{
  z-index: 1;
  padding-top: 97px;
  width: 100%;
  position: absolute;
  
}
.b-text h1
{
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-size: 50px;
  color: #ffffff;
}
.b-text p{
  padding-top: 15px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}
.now{
  padding-top: 65px;
  margin: 0 auto !important;
  text-align: center;
}
.b-text a{
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border-radius: 45px;
  padding: 20px 45px;
  background: #e89719;
}
.banner img{
  height: 500px;
  width: 100%;
}
.banner .che{
  z-index: 0;
  width: 100%;
  background: black;
  height: 100%;
  opacity: 30%;
  position: absolute;
  
}
.about{
  height: 483px;
  background: #fcfcfc;
}
.our{
  height: 663px;
}
.upcoming{
  height: 632px;
}
.latest{
  height: 1132px;
}
.footer{
}
.f-top{
  display: block;
  padding-top: 42px;
  height: 160px;
  background: #b32317;
}
.f-top-left{
  color: #ffffff;
  display: block;
  max-height: 470px;
  float: left;
}
.f-top-right{
  padding-top: 12px;
  float: right;
  max-width: 600px;
}
.f-top-left h1{
  font-weight: 500;
  font-size: 40px;
}
.f-top-left p{
  padding-top: 5px;
  font-weight: 300;
  font-size: 18px; 
}
.f-top-right input{
  float: left;
  position: relative;
  padding-left: 20px;
  border: #930307;
  background: #930307;
  height: 47px;
  color: #cfb4b5;
  font-size: 16px
}
.f-top-right input[name='txt']
{
  max-width: 225px;
}
.f-top-right input[name='txt_name']{
  position: relative;
  width: 240px;
  
}
.f-top-right input:first-child{
  margin-right: 1px !important;
  border-radius: 47px  0 0 47px;
 
}
form input[type="submit"]
{
  text-align: center;
  z-index: 1;
  margin-left: -20px !important;;
  font-size: 16px;
  background: #ffffff;
  font-weight: bold;
  width: 150px;
  padding: 0;
  color: #b11015;
  border-radius: 47px;
}

.with-content{
  margin: 0 auto !important;
  width: 1170px;
}
.f-main{
  height: 325px;
  background: #373737;
  
}
.f-main .col-md-4{
  max-width: 370px;
  margin-right: 30px !important;
}
.f-main .col-md-4:last-child{
  margin-right: 0 !important;;
}
.f-main-text{
  padding-top: 46px;
}
.f-main-text h3{
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 19px;
  color: #ffffff;
}
.icon{
  width: 26px;
  float: left;
}
.text{
  float: left;
  max-width: 344px;
  
}
.f-context{
  clear: both;
  display: block;
  float: left;
  padding-bottom: 13px;
}
.text p{
  color: #7b7f80;
}
.text .label{
  line-height: 1.95;
  font-weight: 500;
  color: #b4b4b4;
}
.f-main-text i{
  color: #e89719;
  font-size: 14px;
}
.text .email{
  font-weight: 300;
  color: #e89719;
}
.f-main-text .fls{
  display: block;
  padding-top: 13px;
  clear: both;
}
.fls h3{
  padding-top: 7px;
  padding-right: 16px;
}
.f-main-text .fls h3,.fls i{
  float: left;
}
.fls i{
  margin-right: 8px !important;
  color: #7b7f80;
  border-radius: 100%;
  padding: 10px;
  border:1px solid #7b7f80;
  margin-right: 8px;
  
}
.f-downt{
  height: 60px;
  background: #242424;
}
.f-downt p{
  color: #6d6d6d;
  padding-top: 19px;
}